PORT=35000
NODE_ENV=development
API_PREFIX=api
SWAGGER_PATH=docs
HOST=0.0.0.0
PROTOCOL=http
ADMIN_PHONE_NUMBERS=
STATIC_ASSETS_DIR=storage/static-assets
STATIC_ASSETS_ROUTE_PREFIX=static-assets
STATIC_ASSETS_PUBLIC_BASE_URL=

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=nest_admin
DB_SYNCHRONIZE=false

# JWT
JWT_SECRET=replace-me
JWT_EXPIRATION_TIME=1h
JWT_REFRESH_SECRET=replace-me
JWT_REFRESH_EXPIRATION_TIME=7d
